.notification-coin {
  width: 95%;
  color: white;
  background-color: #878787;
  border-radius: 25px;
  padding: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 11px;
  position: absolute;
  top: 13px;
  opacity: 0;
  animation: 3.3s 1 slidein;
  font-weight: 400;
  z-index: 10000;
}

@keyframes slidein {
  0% {
    translate: 0 10vh;
    opacity: 0;
  }

  7% {
    translate: 0 0;
    opacity: 1;
  }

  15% {
    translate: 0 0;
    opacity: 1;
  }

  90% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: 0 10vh;
    opacity: 0;
  }
}
