.main-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 13px 0 16px;

  height: calc(100% - 132px);
  justify-content: space-between;
}

.image {
  border-radius: 50%;
}

.profile-info {
  width: 95%;
  padding: 24px 28px;
  background-color: white;
  border-radius: 25px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 15px 20px #00000005;
}

.change-theme-btn {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  outline: inherit;
}

.profile-text {
  width: 50%;
}

.profile-text .nickname {
  font-size: 20px;
  font-weight: 500;
}

.profile-text .id {
  color: #bfbfbf;
  font-size: 14px;
}

.coins-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.coins-count {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  width: 100%;
}

.main-info {
  background-image: url(../../../public/backgrounds/main-back.svg);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.game {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-info {
  display: flex;
  flex-direction: column;
}

.ticket-header {
  font-weight: 700;
  font-size: 16px;
}

.tickets-count {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-btn {
  border: none;
  outline: inherit;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 22px;
  width: 124px;
  height: 44px;
  background-color: #e8e8e8;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.bar {
  width: 95%;
  background-color: #282828;
  border-radius: 28px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15%;
}

.progress {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  height: 100%;
  background: linear-gradient(90.01deg, #993902 0.01%, #df7e51 99.99%);
}

.farming {
  color: #ffffff60;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-align: center;
}

.time {
  color: #ffffff40;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  right: 24px;
}

.add-friend {
  opacity: 0.4;
  text-decoration: none;
}
