.friend-wrapper {
  display: flex;
  height: calc(100% - 119px);
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.friends-header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  line-height: 28px;
  padding-top: 28px;
}

.friends-header h2 {
  padding-left: calc(2.5vw + 22px);
  font-size: 24px;
  color: #272727;
  font-weight: 700;
}

.friends-coins-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 23px 42px;
  width: 95%;
  background-color: white;
  border-radius: 25px;
}

.friends-coins {
  display: flex;
  align-items: center;
  gap: 6px;
}

.friends-coins p {
  font-size: 24px;
  height: 28px;
  font-weight: 700;
  color: #272727;
}

.friends-coins-text {
  text-align: center;
  font-size: 14px;
  vertical-align: text-bottom;
  width: 162px;
  color: #272727;
}

.friends-claim-btn {
  border: none;
  outline: inherit;
  background-color: #f6f6f6;
  color: #ffffff;
  font-weight: 500;
  width: 158px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27.5px;
  font-size: 16px;
}

.friends-claim-btn-active:active {
  transform: 0.2s;
  background-color: #aa5a357e;
}

.friends-count-header {
  display: flex;
  width: 100%;
}

.friends-count-header h3 {
  padding-left: 39px;
  font-size: 20px;
  color: #272727;
  font-weight: 700;
}

.friends-list-wrapper {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
  max-height: 100%;
  padding-bottom: 100px;
  width: 100%;
}

.friend-card {
  width: 95%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: white;
}

.friend-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.friend-avatar {
  border-radius: 50%;
}

.text-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-info h4 {
  color: #272727;
  font-size: 16px;
  font-weight: 700;
}

.text-info p {
  color: #272727;
  font-size: 12px;
}

.friend-card-coins {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #272727;
  font-weight: 700;
}

.invite-btn-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: rgba(243, 243, 243, 0.3);
  backdrop-filter: blur(5px);
  padding: 13px 0 29px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.invite-friend-btn {
  border: none;
  outline: inherit;
  background-color: #282828;
  transition: 0.2s;
  color: white;
  font-size: 16px;
  border-radius: 27.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 55px;
  font-weight: 700;
}

.invite-friend-btn:active {
  background-color: black;
  transform: 0.2s;
}

.friends-coins-ticket-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 40px;
}
