.tasks-wrapper {
  display: flex;
  height: calc(100% - 119px);
  width: 100%;
  flex-direction: column;
  gap: 33px;
  padding: 28px 0 0;
  overflow-y: scroll;
}

.tasks-header {
  width: 100%;
  padding-left: 38px;
  line-height: 28px;
}

.tasks-logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

.tasks-info {
  text-align: center;
  width: 300px;
  font-size: 14px;
  color: #272727;
  margin: auto;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  max-height: 100%;
  padding-bottom: 13px;
}

.task-card {
  display: flex;
  padding: 16px 20px 16px 24px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  border-radius: 25px;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-info h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.task-info p {
  font-size: 12px;
  line-height: 14px;
}

.task-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
}

.task-btn-disable,
.task-btn-enable,
.task-btn-claim {
  width: 92px;
  height: 44px;
  border-radius: 27.5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: inherit;
}

.task-btn-enable {
  background-color: #282828;
  color: white;
  transition: 0.2s;
}

.task-btn-enable:active {
  background-color: black;
  transition: 0.2s;
}

.task-btn-disable {
  color: #aeaeae;
  background-color: #f6f6f6;
}

.task-btn-claim {
  background: linear-gradient(90deg, #9f3f09 0%, #dc7b4e 100%);
  transition: 0.2s;
  color: white;
}

.task-btn-claim:active {
  background: linear-gradient(90deg, #9c3c05 0%, #9f3f09 100%);
  transition: 0.2s;
}

.empty-div {
  height: 13px;
  width: 100%;
  padding: 13px 0 0 0;
}
